html,body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, Arial;
}
/* ------------------------- */
/* --- Estilos Generales --- */
/* ------------------------- */
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif, Arial;
    }
    .titulo {
        font-size: 5rem;
        font-weight: 700;
        color:#b2850b;
        animation: cambiocolor 1700ms infinite alternate;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flexrow {
        flex-direction: row;
        justify-content: space-around;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    #contenedor {
        border-image-width: 40px;
        border: 40px solid rgba(1,1,1,0.1);
        border-image-source: url(../img/papel-picado.png);
        border-image-slice: 110;
        border-image-outset: 0px;
        border-image-repeat: repeat;
        border-bottom: 0;
        border-top: 0;
    }
/* -------------------------- */
/* -- Estilos particulares -- */
/* -------------------------- */
    .jumbotron {
        width: 100vw;
        height: 95px;
        padding: 2%;
        display: flex;
        position: relative;
        flex-direction: column;
        background-color:  #000065;
    }
        /* Versos */
            .versos {
                padding: 2% 12% 1.5% 12%;
                text-align: start;
                width: 100%;
                font-size: 1.65rem;
                color: #000;
                background:  linear-gradient(to bottom,#000065,#3f92f2);
            }
            .animado {
                width: 100%;
                font-size: 1.85rem;
            }
            .animado:first-of-type{
                margin-top: 600px;
            }
            /* Imagen pegajosa y Versos */
                .primeramitad{
                    width: 70%;
                    display: inline-flex;
                    float: left;
                }
                .segundamitad{
                    width: 25%;
                    padding-top: 7%;
                    float: right;
                    margin-top: 50px;
                    position: sticky;
                    top: 0;
                }
                .segundamitad img{
                    width: 90%;
                }
            /* Otros veros */
                .animado1, .animado3{
                    text-align: left;
                }
                .animado2, .animado4{
                    text-align: right;
                    margin-top: 60px;
                }
        /* Cabecera */
            .titulocabecera {
                font-size: 2.5rem;
            }
            .cabecera {
                background: #072160;
                width: 100%;
                flex-direction: row;
                position: fixed;
                justify-content: space-around;
                top: -100;
                align-items: center;
                left: 0;
                z-index: 2;
                transition: top 1.2s;
            }
            .cabecera-transicion {
                top: 0;
            }
            .cabecera__imagen {
                width: 15%;
                padding: 1%;
            }
            .cabecera__imagen img {
                width: 50%;
                float: right;
            }
            .cabecera__imagen img:first-of-type{
                float: left;
            }
        /* Calavera final */
            .calavera_stan-lee{
                display: flex;
                width: 50%;
                margin: 50px auto 5px auto;
            }
        /* Parte de inicio */
            /* Contenedores */
                .inicio {
                    height: 101vh;
                    font-size: 4.3rem;
                }
                .inicioinfo {
                    width: 60%;
                }
                .inicioimg {
                    width: 20%;
                }
                .flexrow:last-child {
                    align-items: flex-end;
                }
            /* Texto */
                .datos {
                    text-align: left;
                    color: #fff;
                }
            /* Cursor */
                .cursor {
                    width: 0%;
                    position: relative;
                }
                .cursor::after{
                    content: "";
                    position: absolute;
                    width: 99%;
                    height: 100%;
                    top: 0;
                    border-left: 1px solid #fff;
                    background-color:  #000065;
                    right: 0;
                    animation: escribir 2150ms infinite alternate steps(12);
                }
            /* Imagen */
                .inicioimg img {
                    width: 100%;
                    height: auto;
                }
            /* Pan Flotante */
                .img__flotante {
                    position: absolute;
                    left: 150px;
                    bottom: -90px;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                }
                .img__flotante img {
                    width: 30%;
                    height: auto;
                }
                .img__flotante img:first-of-type{
                    width: 20%;
                }
        /* Footer */
        footer {
            padding: 1%;
            text-align: center;
            background: linear-gradient(to top,#000065,#3f92f2);
        }
        footer a {
            font-size: 2rem;
        }
        .footer__imagen {
            margin: 0 auto;
            align-items: center;
            width: 90%;
            justify-content: space-around;
            flex-direction: row;
        }
        .footer__imagen img{
            width: 20%;
            margin: 0 auto;
        }
/* ------------------------- */
/* ------ Animaciones ------ */
/* ------------------------- */
    @keyframes escribir {
        from{
            width: 100%;
        }
        to{
            width: 0%;
        }
    }
    @keyframes cambiocolor {
        from{
            color: #b18200;
        }
        to{
            color: #d8fe00;
        }
    }